#
# Base style
#
BasedOnStyle: LLVM

#
# Column / line length
#
ColumnLimit: 80
InsertNewlineAtEOF: true

#
# Line endings
#
LineEnding: LF

#
# Indentation
#
IndentWidth: 2
TabWidth: 2
UseTab: Never
ContinuationIndentWidth: 2
PPIndentWidth: 2
ObjCBlockIndentWidth: 2
BracedInitializerIndentWidth: 2
ConstructorInitializerIndentWidth: 2
LambdaBodyIndentation: Signature
NamespaceIndentation: None
CompactNamespaces: false
IndentCaseLabels: false
IndentCaseBlocks: false
IndentPPDirectives: BeforeHash

#
# Pointers
#
PointerAlignment: Left
DerivePointerAlignment: false

#
# Short constructs on a single line
#
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortCaseLabelsOnASingleLine: true
AllowShortCaseExpressionOnASingleLine: true

#
# Alignment
#
AlignAfterOpenBracket: BlockIndent
AlignOperands: DontAlign
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2

#
# Parameter / argument packing
#
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: true

#
# Constructors / initializers
#
PackConstructorInitializers: NextLine
BreakConstructorInitializers: AfterColon

#
# Templates / attributes
#
BreakTemplateDeclarations: Yes
BreakAfterAttributes: Never

#
# Operators / break penalties
#
BreakBeforeTernaryOperators: true
BreakBeforeBinaryOperators: All
PenaltyReturnTypeOnItsOwnLine: 9999

#
# Includes
#
SortIncludes: true

#
# Empty lines
#
KeepEmptyLines:
  AtStartOfFile: true
  AtStartOfBlock: false
  AtEndOfFile: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
